@model IEnumerable<PirateTARpe23.Models.Islands.IslandIndexViewModel>

@{
    int rowNum = 1;
    // int currentRow = 1;
    // int currentTile = 1;
    // int tilesInRow = 6;
}
<div>
    <a asp-action="Create" asp-asp-controller="Islands" class="btn btn-primary">Spawn a new island</a>
</div>

<div class="h1">Islands:</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                @*Add images here as well*@
                <th scope="col">#</th>

                <th scope="col">Name</th>

                <th scope="col">Is it big?</th>

                <th scope="col">Already plundered?</th>

                <th scope="col">Level requirement</th>

                <th scope="col">XP Reward</th>

                <th scope="col">Admin Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any() != null)
            {
                foreach (var island in Model)
                {
                    <tr>
                        @*here too*@
                        <td>@rowNum</td>

                        <td>@island.IslandName</td>

                        <td>@island.IsBigIsland</td>

                        <td>@island.IslandStatus</td>

                        <td>@island.LevelRequirement</td>

                        <td>@island.XPReward</td>

                        <td>
                            <a asp-action="Update" asp-controller="Islands" asp-route-id="@island.IslandID" class="btn btn-info">Configure</a>
                            <br />
                            <a asp-action="Delete" asp-controller="Islands" asp-route-id="@island.IslandID" class="btn btn-info">Delete</a>
                        </td>
                    </tr>
                    rowNum++;
                }
            }
        </tbody>
    </table>
</form>